__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.env
*.db
*.db-shm
*.db-wal
data/
.pytest_cache/
.mypy_cache/
*.log
.DS_Store
.vscode/
.idea/
htmlcov/
.coverage
dist/
build/
*.egg-info/
sec/*